<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novedades</title>
</head>
<body class="pt-5">
    <div class="container">
        <div id="printJS-form" *ngIf="loginService.userLoggedIn && loginService.userLogged.perfil=='Administrador'">
            <br>
            <div>
              <h2><b style="margin-left: 32%; color:#fff;">Novedades Pendiente</b></h2>
            </div>
            <br>
            <div *ngFor="let item of novedades">
              <div class="card border-info mb-3" style="width: 100%;">
                <div class="card-header" style="background-color: white;">
                  <h3><b class="text-info">Novedad</b></h3>
                </div>
                <div class="card-body">
                  <label>
                    <h4><b>Usuario:</b> {{item.usuario.usuario}}</h4>
                  </label>
                  <br>
                  <label>
                    <h4><b>Texto: </b>{{item.texto}}</h4>
                  </label>
                  <br>
                  <button type="submit" class="btn btn-outline-info" style="margin-left: 70%; width: 30%;"
                    (click)="modificarNovedad(item)">
                    Procesar
                  </button>
                </div>
              </div>
            </div>
        </div>
        <div id="Propietario"  *ngIf="loginService.userLoggedIn && loginService.userLogged.perfil=='Inquilino'">
            <div class="row ">
                <div class="col-md-12">
                    <form id="formNovedad" #formNovedad="ngForm" (ngSubmit)="onSubmit(formNovedad)">
                        <div class="formgroup row col-md-12">
                            <div class="formgroup row col-md-12 col-sm-12" style="margin-top: 5px;">
                                <div style="width: 35%;">
                                    <h3 style="margin-bottom: 20px;"> <b> Texto de Novedad:</b></h3>
                                </div>
                                <textarea class="form-control" name="texto" rows="5" required #texto="ngModel"
                                    [(ngModel)]="novedad.texto" style="width: 100%;margin-bottom: 20px;"></textarea>
                                <div *ngIf="texto.invalid && (texto.dirty || texto.touched)" class="alert alert-danger"
                                    style="width: 100%">
    
                                    <div *ngIf="texto.errors.required"
                                        style=" justify-content: center; margin-left: 70px;width: 100%">
                                        Texto de novedad es requerido.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-left: 1px;">
                            <button [disabled]="formNovedad.invalid " (click)="guardarNovedad()" type="submit button"
                                class="btn btn-primary" style="margin: 10px 10px 10px 0px;width: 25%;">
                                Enviar Novedad
                            </button>
                            <input type=" reset" class="btn btn-secondary" style="margin: 10px 10px 10px 10px;"
                                value="limpiar" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-12 fixed-bottom" id="impresion" align="right" *ngIf="loginService.userLoggedIn && loginService.userLogged.perfil=='Administrador'">
      <button class="btn btn-primary ml-2 mr-2 mb-3" (click)="printJS()">
        Imprimir
      </button>
      <button class="btn btn-primary ml-2 mr-2 mb-3" (click)="generarPDF()">
        Imprimir en PDF 
      </button>
    </div>
    
</body>
</html>